@import 'fonts';

@tailwind base;
@tailwind components;

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  height: -webkit-fill-available;
  overscroll-behavior: none;
  @apply overflow-hidden touch-none;
}

#app {
  @apply text-xs w-screen h-screen font-sans font-light relative;
  hyphens: auto;
  font-kerning: normal;
}

.stage {
  @apply w-screen h-screen absolute;
}

.info {
  @apply absolute top-0 left-0 pointer-events-none;
}
